Repository greenbone/ospd-openvas, pull requests merged in 2021-08, with the labels that each got.

#474 [21.04] Add signing to workflow ...
  .github/workflows/release-pontos-patch.yml
Labels: make patch release

#475 Update CODEOWNERS
  .github/CODEOWNERS
Labels: backport-to-21.04, backport-to-master

#478 [20.08] Add signing to workflow ...
  .github/workflows/release-pontos-patch.yml
  poetry.lock
  pyproject.toml
Labels: make patch release

#479 [20.08] Fix the yaml
  .github/workflows/release-pontos-patch.yml
Labels: make patch release

#481 [21.04] Fix workflow, update dependencies.
  .github/workflows/release-pontos-patch.yml
  poetry.lock
  pyproject.toml
Labels: make patch release

#484 Fixing the 21.04 release.
  README.md
  poetry.lock
  pyproject.toml
Labels: make patch release

#486 Fix timeout preference handling
  CHANGELOG.md
  ospd_openvas/preferencehandler.py
Labels: backport-to-20.08, backport-to-master

#490 Downgrade required version for psutil to 5.5.1
  CHANGELOG.md
  pyproject.toml
Labels: backport-to-master
